/* GENERAL STYLES */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* GENERAL POSITIONING STYLES */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* HEADER */

.header-section {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo {
  display: inline-block;
  margin-right: 76px;
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo-accent {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-list-item {
  width: calc((100% - 40 * 2) / 3);
}

.nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-item {
  width: calc((100% - 40) / 2);
}

.contacts-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/* HERO */

.hero,
.footer {
  background-color: #2e2f42;
}

.hero {
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  max-width: 496px;
  margin: auto;
  margin-bottom: 48px;
  color: #fff;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 1.12px;
}

.hero-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

/* BENEFITS SECTION */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-item {
  width: calc((100% - 72px) / 4);
}

.benefits-title {
  margin-bottom: 8px;
}

.benefits-title,
.team-list-title,
.portfolio-item-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.benefits-text,
.team-text,
.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* TEAM-SECTION */

.team-section {
  background-color: #f4f4fd;
}

.team-title,
.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.team-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-card {
  width: calc((100% - 74) / 4);
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
}

.team-position-and-name {
  padding: 32px 0 32px;
}

.team-list-title {
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  text-align: center;
}

/* PORTFOLIO-SECTION */

.portfolio-title {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item-and-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-item-title {
  margin-bottom: 8px;
}

/* FOOTER */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-accent {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
